.Things {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50vh;
  align-items: center;
}
.App{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50vh;
  align-self:center;
  align-items: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.error-data {
color: red
}
.data {
  display:flex;
  flex-direction: column;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;  
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 30px;
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 10px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
